@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

:root {
  --green: hsl(210, 100%, 56%);
  --handwriting: 'Homemade Apple';
}

body {
  background-color: black;
  color: aliceblue;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-container {
  width: 1/4;
  border-right: 4px solid white;
  height: 100vh;
  padding: 2%;
}

.header-main {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid white;
}

.save-button {
  border: 1px solid white;
  padding: 20px;
  transition: background-color 0.8s ease;
  top: 0;
}

.save-button:hover {
  background-color: greenyellow;
  color: black;
  border: none;
  cursor: pointer;
}
