@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

:root {
  --pink: #ff70a6;
  --blue: #70d6ff;
  --orange: #ff9770;
  --orange-bright: #ffd670;
  --yellow: #e9ff70;
  --handwriting: 'Homemade Apple';
}

body {
  background-color: black;
  color: aliceblue;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.flex-item {
  flex: 1;
  height: 100%;
}

.choose-container {
  width: 1/4;
  border-right: 4px solid white;
  padding-right: 10px;
}

.choose-container::-webkit-scrollbar {
  display: none;
}

.choose-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header-main {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid white;
}

.save-button {
  border: 1px solid black;
  background-color: var(--orange-bright);
  padding: 20px;
  transition: background-color 0.8s ease;
  top: 0;
  margin-left: 80%;
  margin-top: 5%;
}

.regular-button {
  border: 1px solid black;
  background-color: var(--orange-bright);
  padding: 10px;
  transition: background-color 0.8s ease;
}

.regular-button:hover {
  background-color: var(--orange);
  color: black;
  cursor: pointer;
}

.save-button:hover {
  background-color: var(--orange);
  color: black;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popup {
  width: 25%;
  height: 100%;
  background-color: white;
  padding: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.page-area {
  margin-left: 50px;
}
