@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

:root {
  --pink: #ff70a6;
  --blue: #70d6ff;
  --orange: #ff9770;
  --orange-bright: #ffd670;
  --yellow: #e9ff70;
  --handwriting: 'Homemade Apple';
}

body {
  background-color: black;
  color: aliceblue;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.flex-item {
  flex: 1;
  height: 100%;
}

.choose-container {
  width: 1/4;
  border-right: 4px solid white;
}

.header-main {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid white;
}

.save-button {
  border: 1px solid black;
  background-color: var(--orange-bright);
  padding: 20px;
  transition: background-color 0.8s ease;
  top: 0;
  margin-left: 80%;
  margin-top: 5%;
}

.save-button:hover {
  background-color: var(--orange);
  color: black;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1000; /* Ensure it's on top of other content */
  display: flex;
  justify-content: flex-end; /* Align popup to the right */
  align-items: center;
}

.popup {
  width: 25%; /* Width of 1/4 of the screen */
  height: 100%; /* Height of the whole screen */
  background-color: white; /* Background color of the popup */
  padding: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
